*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ist
*.ind
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.xdv

*/img/OriginalData.jpg
*/img/OriginalData*.jpg
*/img/OriginalData.png
*/img/OriginalData*.png
