*/*.aux
*/*.bbl
*/*.blg
*/*.log
*/*.synctex.gz
*/*.toc
*/*.out
*/._wordcount_selection.tex
*/img/OriginalData.jpg
*/img/OriginalData*.jpg
*/img/OriginalData.png
*/img/OriginalData*.png
*/textbook/*
*/*.pdf

data
*/code/data_of_crosssec.txt
*/code/data_of_reactiv.txt
*/img/*.pdf
