*/*.aux
*/*.bbl
*/*.blg
*/*.fdb_latexmk
*/*.fls
*/*.lof
*/*.log
*/*.lot
*/*.nav
*/*.snm
*/*.synctex.gz
*/*.toc
*/*.out
*/._wordcount_selection.tex
*/img/OriginalData.jpg
*/img/OriginalData*.jpg
*/img/OriginalData.png
*/img/OriginalData*.png
*/textbook/*
*/*.pdf
